.container{
  // display: inline-block;
  background-color: gray;
  height: 100%;
  width: 100%;
  overflow: scroll;
  // padding-left: 0px;
  // padding-right: 0px;
  // margin-left: 0px;
}

.row{
  background-color: white;
  height: 8%;
  a{
    position: relative;
    color: black;
    font-size: 2vh;
    font-size: 2vw;
    left: 200%;
    &.active{
    }
  }

  .link {
    display: inline-block;
    // border: 1px solid black;
    &.active{
      border-bottom: 1px solid black;
    }
  }

  .link-container {
    margin: auto;
    margin-top: 0.5%;
    background-color: pink;
    width: 50.5%;
  }
}