.container{
  // display: inline-block;
  background-color: gray;
  height: 95%;
  width: 100%;
  overflow: scroll;
  // padding-left: 0px;
  // padding-right: 0px;
  // margin-left: 0px;
}

.row{
  background-color: white;
  height: 8%;
  a{
    color: black;
    font-size: 30px;
    &.active{
    }
  }

  .link {
    display: inline-block;
    // border: 1px solid black;
    &.active{
      border-bottom: 1px solid black;
    }
  }

  .link-container {
    margin: auto;
    margin-top: 1.5%;
    // background-color: pink;
    width: 10.5%;
  }
}