.row {
    height: 100%;
    width: 100%;
    margin-left: 0px;
  }

.mockup {
  margin: auto;
  height: 100%;
  width:100%;
  // margin-top: 25px;
  margin-bottom: 25px;
  // margin-left: 25px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
}

.toggle-carousel{
  display: inline-block;
  border: 1px solid grey;
  width: 50px;
  height: 10px;
  margin-left: -1px;
  border-radius: 10px;
  &.active {
    background-color: grey;
  }
}

.button-row{
  margin-left: 412px;
  height: 20px;
  width: 155px;
  // margin-top: -5px;
  float: left;
  margin-top: 3px;
  margin-left: 447px;
  // background-color: red;
}

.inner-screen {
  margin: auto;
  margin-top:25px;
  height: 500px;
  width: 95%;
  background-color: black;
  border-radius: 10px;
}

.outer-screen{
  margin: auto;
  padding-top: 1px;
  background-color: white;
  height: 550px;
  width: 100%;
  border-radius: 10px;
}

// .background-container{
//   // display: block;
//   background-color: green;
//   margin-top: 1.5%;
//   width: 100%;
//   padding-left: 0px;
//   padding-right: 0px;
//   margin-left: 0px;
//   // margin-right: 0px;
//   // margin: auto;
//   // margin-left: -1%;
// }

.power-button {
  height: 10px;
  width: 50px;
  border-radius: 10px;
  background-color: gray;
  float: right;
  margin-top: 10px;
  margin-right: 50px;
}

.stand-leg-left {
  height: 125px;
  width: 90px;
  background-color: white;
  border-bottom: 2px solid black;
  border-top: 1px solid black;
}

.stand-leg-right {
  margin-left: 100px;
  margin-top: -125px;
  height: 125px;
  width: 90px;
  background-color: white;
  border-bottom: 2px solid black;
  border-top: 1px solid black;
}

.stand-base {
  margin: auto;
  height: 50px;
  width: 500px;
  border-radius: 100px;
  background-color: white;
}

.leg-container {
  margin: auto;
  width: 190px;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: white;
  margin-top: 1.5%;
}

.wrapper {
  background-color: blue;
  width: 1050px;
  margin: auto;
  display: inline-block;
}

span {
  position: relative;
  bottom: 150px;
  color: white;
  font-size: 100px;
  border: 1px solid black;
  // margin-top: -500px;
  height: 100px;
  width: 50px;
  background-color: red;
}

.content-container{
  margin: auto;
  background-color: yellow;
  width: 62.6%;
  margin-bottom: 25px;
  margin-top: 1.5%;
}

// h5{
//   -webkit-text-stroke: 2px red;
//   font-size: 50px;
// }