.row {
    height: 100%;
    width: 100%;
    // background-color: blue;
    margin-left: 0px;
  }


.mockup{
  display: inline-block;
  height: 400px;
  width: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
}

.toggle-carousel{
  display: inline-block;
  border: 1px solid white;
  width: 50px;
  height: 10px;
  margin-left: -1px;
  border-radius: 10px;
  &.active {
    background-color: white;
  }
}

.button-row{
  margin-left: 412px;
  height: 20px;
  width: 155px;
  margin-top: -5px;
}

.cycle-left{
  position: absolute;
  color: white;
  size: 20px;
  top: 280px;
  left: 200px;
}

.inner-screen {
  position: absolute;
  // margin: auto;
  left: 220px;
  margin-top:25px;
  height: 500px;
  width: 1000px;
  background-color: black;
  border-radius: 10px;
}

.outer-screen{
  display: block;
  margin: auto;
  background-color: white;
  height: 550px;
  width: 1050px;
  border-radius: 10px;
}

// .background-container{
//   // background-color: green;
// }

.power-button {
  height: 10px;
  width: 50px;
  border-radius: 10px;
  background-color: gray;
  float: right;
  margin-top: 531px;
  margin-right: 50px;
}

.stand-leg-left {
  margin-left: 600px;
  height: 125px;
  width: 90px;
  background-color: white;
  border-bottom: 2px solid black;
  border-top: 1px solid black;
}

.stand-leg-right {
  margin-left: 700px;
  margin-top: -125px;
  height: 125px;
  width: 90px;
  background-color: white;
  border-bottom: 2px solid black;
  border-top: 1px solid black;
}

.stand-base {
  height: 50px;
  width: 500px;
  border-radius: 100px;
  background-color: white;
  margin-left: 440px;
}