<div class="content-container">
  <div class="row" *ngIf="array1">
    <div class="cycle-left">!!!</div>
    <div class="mockup" [style.backgroundImage]="'url('+(projectArray1[i].image)+')'" *ngFor="let project of projectArray1; let i = index"></div>
    <div class="button-row">
  <div class="toggle-carousel" (click)="toggleCarousel1()" [class.active]="array1"></div>
  <div class="toggle-carousel" (click)="toggleCarousel2()" [class.active]="array2"></div>
  <div class="toggle-carousel" (click)="toggleCarousel3()" [class.active]="array3"></div>
  </div>
  </div>
    <div class="row" *ngIf="array2">
    <div class="mockup" [style.backgroundImage]="'url('+(projectArray2[i].image)+')'" *ngFor="let project of projectArray2; let i = index"></div>
    <div class="button-row">
  <div class="toggle-carousel" (click)="toggleCarousel1()" [class.active]="array1"></div>
  <div class="toggle-carousel" (click)="toggleCarousel2()" [class.active]="array2"></div>
  <div class="toggle-carousel" (click)="toggleCarousel3()" [class.active]="array3"></div>
  </div>
  </div>
    <div class="row" *ngIf="array3">
    <div class="mockup" [style.backgroundImage]="'url('+(projectArray3[i].image)+')'" *ngFor="let project of projectArray3; let i = index"></div>
    <div class="button-row">
  <div class="toggle-carousel" (click)="toggleCarousel1()" [class.active]="array1"></div>
  <div class="toggle-carousel" (click)="toggleCarousel2()" [class.active]="array2"></div>
  <div class="toggle-carousel" (click)="toggleCarousel3()" [class.active]="array3"></div>
  </div>
  </div>
</div>
<!--<div class="button-row">
  <div class="toggle-carousel" (click)="toggleCarousel1()" [class.active]="array1"></div>
  <div class="toggle-carousel" (click)="toggleCarousel2()" [class.active]="array2"></div>
  <div class="toggle-carousel" (click)="toggleCarousel3()" [class.active]="array3"></div>
  </div>-->